/*палитра https://colorhunt.co/palette/118585*/

:root{
    --pRed: #fc3c3c;
    --pBlueLight: #ff847c;
    --pBlue: #e84a5f;
    --pWhite: #fecea8;
}

body {
    background: url("../img/cosmos.jpg");
}
.whiteBg {

}
.colorRed {
    color: var(--pRed);
}
.colorBlue {
    color: var(--pBlue);
}
.colorBlueLight {
    color: var(--pBlueLight);
}
.colorWhite {
    color: var(--pWhite);
}
h1 {
    color: var(--pWhite);
}
a:link,a:visited{
    color: var(--pBlue);
    transition: color 0.35s;
}
a:hover{
    color: var(--pRed);
}
ol.projects {
    list-style-type: none;
}
ol.projects li a {
    margin-left: 30px;
}
li i{
    font-size: 14px;
    transition: font-size 0.2s,color 0.6s;
    position: absolute;
    margin-top: 4px;
}
li:hover i{
    font-size: 18px;
    color: var(--pBlueLight);}
li span{
    position: relative;
}
p {
    color: var(--pWhite);
}